.accordion {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: var(--secondary);
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--seconday);
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: var(--tertiary);
  color: var(--primary);
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: var(--entry);
  background: var(--primary);
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: var(--tertiary);
  cursor: pointer;
}
.tab-close:hover {
  background: var(--tertiary);
}

input:checked + .tab-label {
  background: var(--tertiary);
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.option-input{
  border-radius: var(--radius);
  border: 1px solid var(--code-bg);
  padding: 0 0.3em;
  font-weight: bold;
}